
<h1 class="abril">Articles</h1>

<%= link_to '<button class="btn-style" type="button">New Article</button>'.html_safe, new_article_path %>

<table>
  <tr>
    <th class="abril">Title</th>
    <th colspan="2"></th>
  </tr>
 
  <% @articles.each do |article| %>

    <tr>
      <td><%= article.title %></td>
     <% # <td><%= article.text</td> %> 
      <td><%= link_to '<button class="btn-style" type="button">Read</button>'.html_safe, article_path(article) %></td>
      <td><%= link_to '<button class="btn-style" type="button">Edit</button>'.html_safe, edit_article_path(article) %></td>
      <td><%= link_to '<button class="btn-style" type="button">Delete</button>'.html_safe, article_path(article), # passing named path as second argument
        method: :delete, # these ar 'options' for HTML attributes as a third argument
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>